/* confirmation-dialog.component.css */
::ng-deep .mat-mdc-dialog-surface {
    background-color: #f9f9f9 !important;
  } 
  
  ::ng-deep .mdc-dialog__container {
    min-width: 25vw !important;
    overflow: auto;
    border: 1px solid #28a745 !important;
  }
  
  span {
    padding-left: 24px;
    padding-top: 20px;
    font-weight: 600;
    font-size: larger;
  }
  
  .btn-group {
    display: flex;
    width: 100%;
    justify-content: end;
  }
  
  .btn {
    border-radius: 4px;
    text-align: center;
    height: 20%;
  }
  
  .btn-secondary {
    text-align: center;
    background-color: white;
    border: 1px solid #6c757d;
    color: #6c757d !important;
    margin-right: 5px; 
  }
  
  .btn-secondary:hover {
    background-color: #6c757d;
    color: white;
  }
  
  .btn-success {
    background-color: #28a745;
    border: none;
    width: 4em;
    padding: 1px;
    color: white;
  }
  
  ::ng-deep .mdc-button {
    min-width: unset !important;
  }

  .confirmation-text {
    color: black;
    font-size: medium;
    margin: 16px 0;
  }